:root{
    --color-title: #212121;
    --color-btn-link:#2196F3;
    --color-accent: #FFFFFF;
    --color-header-logo: #000000;
    --color-footer-logo: #ffffff;
    --color-tea«: #F5F4FA;
    --color-footer:#2F303A;   
}
body{font-family: 'Roboto', sans-serif;
font-size:  14px;
letter-spacing: 0.03em;
color:var(--color-title);
background-color: var(--color-accent)
}
/* header styles */
.logo.header{
    display: flex;
    align-items: center;
    margin-left: 215;
}
.page-header{
    background-color:var(--color-accent);
    display: flex;
    align-items: center;
}
.logo{
font-family:Raleway, sans-serif;
font-style: normal;
font-weight:700;
font-size: 26px;
line-height:1.3;
letter-spacing: 0.03em;
color:var(--color-header-logo);}

.web{
    color: var(--color-btn-link);
}
.link{text-decoration: none;}
.list{list-style:none;
display: flex;}
.list_item:not(:last-child){
    margin-right: 32px;
}

.navigationstudio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--color-btn-link);
}

.navigation{
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
color:var(--color-title);}
.navigation:hover,:focus{
color:var(--color-btn-link);
}

.contact_list{
    margin-left: auto;
    margin-right: 183px;
}
.email_link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #757575;}
    .email_link:hover,:focus{
     color:var(--color-btn-link);}
    
    
.phone{
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
color: #757575;}
.phone:hover,:focus{
 color:var(--color-btn-link);}

/*bg styles */
.hero{
padding-bottom: 200px;
padding-bottom: 200px;
background: var(--color-footer);
padding-top: 94px;
padding-bottom: 94px;
text-align: center;}
.inside-text{
    margin: auto;
    width: 696px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--color-accent);    
}
.button{
background-color: rgb(33, 150, 243);
margin-top: 30px;
display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0px;

color: var(--color-footer-logo);}
  
.button:hover{
background-color: rgb(24, 140, 232);}

.advantage_title{
font-weight: 700;
font-size: 14px;
line-height:1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--color-header-logo);}

.advantage_text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowarp;
    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.our_work_header{
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
    color:var(--color-header-logo);    
}
.button{
background:var(--color-btn-link);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;}
  
  .button:hover{
background-color:
#2196F3; 
color:#EEEEEE;}
/*Our team styles */
.ourteam{
background: var(--color-tea«);
}
.our_team_header{
    left: 668px;
    top: 1543px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-header-logo);   
}
.employees{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-title);
}
.position_title{
font-weight: 400;
font-size: 16px;
line-height:1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
/*Footer styles */
.footer{
background:var(--color-footer);
width: 1600px;
}
.logo_footer{
    font-family:Raleway, sans-serif;
    font-style: normal;
    font-weight:700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    color:var(--color-footer-logo);
}
.web_footer{
color: var(--color-btn-link);}
    
.location{
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color: var(--color-footer-logo);
}
.location:hover{
color: var(--color-btn-link);
}
.footer_email{
    font-weight: 400;
    font-size: 14px;
    line-height:1.71; 
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);  
}
.footer_email:hover{
 color: var(--color-btn-link);   
}
.footer_phone{
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer_phone:hover{
    color:var(--color-btn-link);}
.address{
    font-style: normal;}

.button_portfolio{
  background: #F5F4FA;
border-radius: 4px; 
border: none;
width: 128px;
height: 38px;
border: 0;
} 
.button_portfolio:hover{
    background-color:var(--color-btn-link);
color:
var(--color-footer-logo);
}
.portfolio-items-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
letter-spacing: 0.06em;
    color:var(--color-header-logo);    
}
.list_item{
    font-weight: 400;
    font-size: 16px;
    line-height:1.8;
    letter-spacing: 0.03em;
    color: #757575;   
}